REDIS_URL=redis://localhost:6379
APP_SETTINGS="src.config.DevelopmentConfig"
DATABASE_URL="postgres://username:password@localhost:5432/postgres"
CREATE_ENGINE_DEBUG=False
DATABASE_HEROKU_CONNECT=False
DATABASE_RETENTION_DAYS=7
SECRET_KEY=changeme
LOGLEVEL=DEBUG
FLASK_APP=src
WORKER_TYPE=2
CONSUMER_KEY=
CONSUMER_SECRET=
SFDC_MYDOMAIN=.my.salesforce.com
SFDC_PASSWORD=
SFDC_USERNAME=email@domain.demo
SFDC_SANDBOX=False
SFDC_SECURITY_TOKEN=
SFDC_AUTH=oauth2
MERLION_PLOT_SHOW=True
MERLION_TRAINING_SAMPLE=0.9
MERLION_LIMIT_EVENTS=12
MERLION_PREDICT_MODEL=selector
MERLION_MAX_FORECAST_STEPS=100
RETRY_DATA_FROM_SF=False
AWS_S3_ENABLE=False
AWS_S3_BUCKET_NAME=mlimit
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=